/* .body is a class
body with no dot is the tag itself */
#board {
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    border-collapse: collapse;
  }
  #palette {
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr {
    border: 1px solid black;
    border-collapse: collapse;
  }
  td {
    text-align: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    /* padding: 25px; */
  }
  .board_row:first-child{
    border-top: 3px solid black;
  }
  .board_row:nth-child(3n){
    border-bottom: 3px solid black;
  }
  .board_cell:first-child{
    border-left: 3px solid black;
  }
  .board_cell:nth-child(3n){
    border-right: 3px solid black;
  }
  .board_cell:hover{
    background-color: #f5dd90;
  }
  .choices:hover{
    background-color: #f5dd90;
  }
  .user-input{
    background-color: #f2f2f2;
  }
  .error{
    background-color: #f76c5e;
  }